<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en"
>
<head>
    <meta charset="UTF-8">
    <title>Static ID tool - home</title>
    <style th:replace="fragments/head"></style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}">Static ID generator</a>
        </div>
        <ul class="nav navbar-nav">

            <li class="dropdown" sec:authorize="hasAuthority('ADMIN')">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin menu
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/admin/users}">Users</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text" sec:authentication="name">username</p></li>
            <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="form-inline" style="margin-bottom: 15px">
        <div class="form-group">
            <label for="componentType" class="control-label" style="margin-right: 10px">Component type</label>
            <select class="form-control" id="componentType" onchange="showExisting()">
                <option th:value="null" hidden>Please select...</option>
                <option th:each="item : ${componentTypes}"
                        th:value="${item.id}"
                        th:text="${item.name}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="suffix" class="control-label sr-only">Suffix</label>
            <input type="text"
                   class="form-control"
                   id="suffix"
                   onchange="showExisting()"
                   placeholder="Suffix"
            />
        </div>
        <div class="form-group">
            <label for="rowsTotal" class="control-label sr-only">Suffix</label>
            <input type="text"
                   class="form-control"
                   id="rowsTotal"
                   onchange="showExisting()"
                   placeholder="Rows, default 10"
            />
        </div>
    </div>
    <div class="row" style="margin-bottom: 15px">
        <table class="table table-hover table-condensed table-bordered" id="existingIdsTable">
            <thead>
            <tr style="background-color: #ccc">
                <th></th>
                <th>ID Value</th>
                <th>Added by</th>
                <th>When added</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="row">
        <button class="btn btn-info" onclick="showAddModal(false, 'show')" id="buttonAddNew">Add new</button>
        <button class="btn btn-info" onclick="showAddModal(true, 'show')" id="buttonAddNewMulti">Add range</button>
        <button type="button" class="btn btn-default" id="buttonDelete" onclick="showDeleteConfirm()">Delete selected</button>
    </div>
</div>

<div id="newIdModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalHeader">Add new static ID value</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" id="newValueGroup">
                    <input type="text"
                           class="form-control"
                           id="newIdValue"
                           onkeyup="$('#newValueGroup').removeClass('has-error')"
                    />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-info btn-sm"
                        onclick="sendAddRequest(false)"
                        id="okButton"
                >
                    Ok
                </button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="newIdMultiModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Add new static ID values</h4>
            </div>
            <div class="modal-body">

                <div class="form-inline">
                    <div class="form-group" id="newValuesGroup">
                        <input type="text"
                               class="form-control"
                               id="newIdFrom"
                               onkeyup="setMultiValuesString()"
                        /> -
                        <input type="text"
                               class="form-control"
                               id="newIdTo"
                               onkeyup="setMultiValuesString()"
                        />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p id="valuesString" class="text-left"></p>
                <button type="button"
                        class="btn btn-info btn-sm"
                        onclick="sendAddRequest(true)"
                        id="okButtonMulti"
                >
                    Ok
                </button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteConfirm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Delete selected rows?</h4>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-info btn-sm"
                        onclick="deleteSelected()"
                        id="buttonOkDelete"
                >
                    Ok
                </button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

</body>

<script type="text/javascript">

    function composeTable(staticIds) {
        const tableBody = $("#existingIdsTable > tbody");
        if (staticIds) {
            tableBody.empty();
            for (const staticId of staticIds) {
                const html = "<tr>" +
                    "<td><input type='checkbox' id='chbox" + staticId.id + "'></td>" +
                    "<td>" + staticId.value + "</td>" +
                    "<td>" + getUsername(staticId.createdBy) + "</td>" +
                    "<td>" + new Date(staticId.createdAt).toLocaleString() + "</td>" +
                    "</tr>";
                tableBody.append(html);
            }
            if (staticIds.length === 0) {
                tableBody.append("<tr><td colspan='4'>No values found</td></tr>");
            }
        }
    }

    function setMultiValuesString() {
        const values = getMultiValues();
        let valuesString = 'no valid values';
        if (values) {
            const count = values.length;
            let valuesJoined = values.join(", ");
            if (count > 6) {
                valuesJoined = values.slice(0, 3).join(", ").concat(' ... ', values.slice(-2).join(', '))
            }
            valuesString = count.toString().concat(' values: ', valuesJoined)
            $('#newValuesGroup').removeClass('has-error');
        }
        $('#valuesString').html(valuesString);
    }

    function getMultiValues() {
        const fromStr = $('#newIdFrom').val();
        const toStr = $('#newIdTo').val();
        if (fromStr) {
            const from = fromStr.match(/\d+/);
            if (from) {
                const to = toStr.match(/\d+/);
                if (to) {
                    const prefixFrom = fromStr.substring(0, from.index);
                    const prefixTo = toStr.substring(0, to.index);
                    if (prefixFrom !== prefixTo) {
                        return null;
                    }
                    const fromLength = from.toString().length;
                    const toLength = to.toString().length;
                    if (fromLength !== toLength) {
                        return null;
                    }
                    const suffixFrom = fromStr.substr(prefixFrom.length + fromLength);
                    const suffixTo = toStr.substr(prefixTo.length + toLength);
                    if (suffixFrom !== suffixTo) {
                        return null;
                    }
                    const fromInt = Number(from);
                    const toInt = Number(to);
                    if (fromInt && toInt) {
                        const count = toInt - fromInt;
                        if (count > 0) {
                            const values = [];
                            for (let i = 0; i <= count; i++) {
                                let currValue = (fromInt + i).toString();
                                while (currValue.length < fromLength) {
                                    currValue = '0' + currValue;
                                }
                                values.push(prefixFrom.concat(currValue, suffixFrom));
                            }
                            return values;
                        }
                    }
                }
            }
        }
        return null;
    }

    function getUsername(user) {
        if (user.firstName) {
            return user.firstName + " " + user.lastName;
        } else {
            return user.username;
        }
    }

    function showExisting() {
        const componentId = $('#componentType').val();
        if (!componentId) {
            return;
        }
        const params = {
            "componentId": componentId,
            "suffix": $('#suffix').val(),
            "rows": $('#rowsTotal').val()
        };
        $.ajax({
            type: 'GET',
            contentType: "application/json",
            url: '/getExisting',
            data: params,
            dataType: "JSON",
            success: (response) => {
                composeTable(response);
            },
            error: function () {
                alert('Internal server error');
            }
        });
    }

    function showAddModal(multi, action) {
        if (action === 'show') {
            if (!$('#componentType').val()) {
                alert("Please select component type!");
                return;
            }
        }
        if (multi) {
            $('#newIdFrom').val('');
            $('#newIdTo').val('');
            $('#valuesString').html('');
            $('#newIdMultiModal').modal(action);
        } else {
            $('#newIdModal').modal(action);
        }
    }

    function showDeleteConfirm() {
        if (getSelectedIds().length === 0) {
            alert("Nothing selected!");
            return;
        }
        $('#deleteConfirm').modal('show');
    }

    function getSelectedIds() {
        const selectedIds = [];
        $('[id^=chbox]').each(function () {
            if (this.checked) {
                selectedIds.push(this.id.substring(5));
            }
        });
        return selectedIds;
    }

    function deleteSelected() {
        $('#buttonOkDelete').prop('disabled', true);
        const data = {
            selectedIds: getSelectedIds(),
            userTime: new Date()
        };
        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: '/deleteIds',
            data: JSON.stringify(data),
            dataType: "JSON",
            success: function () {
                $('#deleteConfirm').modal('hide');
                $('#buttonOkDelete').prop('disabled', false);
                showExisting();
            },
            error: function (resp) {
                switch (resp.status) {
                    case 200:
                        $('#deleteConfirm').modal('hide');
                        showExisting();
                        break;
                    case 400:
                        alert(resp.responseText);
                        break;
                    default:
                        alert('Internal server error');
                }
                $('#buttonOkDelete').prop('disabled', false);
            }
        });
    }

    function sendAddRequest(multi) {
        const values = multi ? getMultiValues() : [$('#newIdValue').val()];
        if (!values || values.length === 0 || values[0].length === 0) {
            if (multi) {
                $('#newValuesGroup').addClass("has-error");
            } else {
                $('#newValueGroup').addClass("has-error");
            }
            return;
        }
        const data = {
            idValues: values,
            componentId: $('#componentType').val()
        };
        setOkButtonDisabled(true);
        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: '/addNew',
            data: JSON.stringify(data),
            dataType: "JSON",
            success: function () {
                showAddModal(multi, 'hide');
                setOkButtonDisabled(false);
                showExisting();
            },
            error: function (resp) {
                switch (resp.status) {
                    case 200:
                        showAddModal(multi, 'hide');
                        showExisting();
                        break;
                    case 400:
                        alert(resp.responseText);
                        break;
                    default:
                        alert('Internal server error');
                }
                setOkButtonDisabled(false);
            }
        });
    }

    function setOkButtonDisabled(active) {
        $('#okButton').prop('disabled', active);
        $('#okButtonMulti').prop('disabled', active);
    }

    $("#newIdValue").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#okButton").click();
        }
    });

    $('#newIdModal').on('shown.bs.modal', function () {
        $('#newIdValue').focus();
    });

    $(window).keydown(function (event) {
        const modalIsOpen = $('#newIdModal').is(':visible');
        if (!modalIsOpen && event.keyCode === 45) {
            $("#buttonAddNew").click();
        }
    })

</script>

</html>
